---
import Layout from "../layouts/Layout.astro";
import type { HighlightCardProps } from "../components/HighlightCard.tsx";
import TokenInput from "../components/TokenInput.tsx";
import { getHighlights } from "../utils/getHighlights.ts";
import { HighlightsContainer } from "../components/HighlightsContainer.tsx";

let token;
let highlights;
let highlightsProps: HighlightCardProps[];

if (Astro.cookies.has("token")) {
  const tokenCookie = Astro.cookies.get("token");
  token = tokenCookie.value;
  highlights = await getHighlights(token);

  if (highlights) {
    // create the props object to pass to the HighlightList component
    highlightsProps = highlights.map((highlight) => ({
      quote: highlight.text,
      author: highlight.book.author,
      sourceId: highlight.book.id.toString(),
      sourceName: highlight.book.title,
      sourceUrl: highlight.book.source_url,
      category: highlight.book.category,
    }));
  }
}

export const prerender = false;
---

<Layout title="Recent Readwise Highlights">
  <div class="mt-4"></div>
  {
    highlights ? (
      <>
        <HighlightsContainer highlights={highlightsProps} client:load />
      </>
    ) : (
      <>
        <p>Enter a valid token to see highlights.</p>
        <TokenInput client:load />
      </>
    )
  }
</Layout>
